:root {
    --horizontal: 10vw;
    --red: #F4A299;
    --orange: #FBC687;
    --yellow: #f9e19a;
    --green: #BED8AB;
    --blue: #C4DCFA;
    --turquoise: #A8E6E2;
    --purple: #d0bbee;
    --black: #0B3F51;
    --bg: #F8F7F5;
}

/* General */
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box; 
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}

h1 {
    /* Desktop/H1 */
    font-size: 4.008vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; /* 110% */
    letter-spacing: -0.156vw;
}

h2 {
    /* Desktop/H2 */
    font-size: 3.042vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 114.706% */
    letter-spacing: -0.106vw;
}

h3 {
    /* Desktop/H3 */
    font-size: 2.55vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.078vw;
}

h4 {
    /* Desktop/H4 */
    font-size: 2.05vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3; /* 130.769% */
    letter-spacing: -0.52px;
}

h5 {
    /* Desktop/H5 */
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25; /* 125% */
    letter-spacing: 0.042vw;
    text-transform: uppercase;
}

p {
    /* Desktop/P */
    font-size: 1.15vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
    letter-spacing: -0.028vw;
}

a {
    /* padding: 0.5vw; */
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--purple);
    text-decoration: underline !important;
    text-underline-position: under !important;
}

/* Button */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-family: "montserrat", sans-serif;
    font-size: inherit;
  }

  button.learn-more {
    width: 12rem;
    height: auto;
  }

  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--purple);
    border-radius: 1.625rem;
  }

  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--white);
  }

  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }

  button.learn-more .button-text a {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    font-weight: 500;
    color: var(--purple) !important;
    line-height: 1.6;
    text-align: center;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: white;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text a {
    color: white !important;
    text-decoration: none !important;
  }

.element-fade-up {
    transform: translateY(40px);
    opacity: 0;
    transition: 0.8s;
}
.element-fade-up.triggered {
    transform: translateY(0px);
    opacity: 1;
}

/* Navigation */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    margin-top: 1vw;
}

.topnav-right img {
    width: 5.5vw;
}

.topnav-left {
    display: flex;
    gap: 2.5vw;
}

.topnav-left a {
    text-decoration: none;
    font-size: 1.275vw;
}

button.dropbtn {
    font-size: 1.275vw !important;
    color: var(--black) !important;
    padding-bottom: 1vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid lightgrey;
    border-radius: 20px;
    min-width: 15vw;
    z-index: 1;
}

.dropdown-content a {
    color: var(--black);
    padding: 1vw 1.5vw;
    text-decoration: none;
    display: block;
    font-size: 1vw !important;
    font-weight: 500;
}

.dropdown-content a:hover {
    color: var(--purple);
    text-decoration: none !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn:hover {
    color: var(--purple) !important;
    text-decoration: underline !important;
    text-underline-position: under !important;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5vw var(--horizontal);
}

.header-left, .header-right {
    width: 50%;
}

.header-left{
    margin-right: 3vw;
    position: relative;
    height: 35vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: url("/assets/animation.gif");
  background-size: cover;
  background-position: center;
}

.text {
	position: absolute;
	width: 100%;
	height: 100%;
	color: var(--purple);
	font-size: 1vw;
	animation: textRotation 15s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 3vw;
    transform-origin: 0 17.5vw;
}

.header-right svg {
    width: auto;
    height: 2.25vw;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    padding: 4vw var(--horizontal);
}

.intro-top, .intro-bottom {
    display: flex;
    flex-direction: row;
}

.emoji {
    font-size: 3.5vw;
}

.intro-1, .intro-2, .intro-3, .intro-4 {
    border-radius: 20px;
    padding: 3.5vw;
    margin: 1vw 2vw;
}

.intro-1 {
    width: 50%;
    background-color: var(--green);
}

.intro-2 {
    width: 50%;
    background-color: var(--yellow);
}

.intro-3 {
    padding-top: 0;
    padding-bottom: 0;
    width: 40%;
    height: auto;
    background-image: url("/assets/shapes/6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}   

.intro-4 {
    width: 60%;
    background-color: var(--red);
}

/* featured work section */
.horizontal-scroll {
    display: block;
    max-width: 100%;
    position: absolute;
    opacity: 1;
    transform: translateX(-50%);
}

.scroll-text {
    display: flex;
    gap: 17px;
    white-space: nowrap;
}

.scroll-text h2 {
    font-style: italic;
}

.featured {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects-wrapper {
    padding: 8.5vw var(--horizontal) 0;
}

.project-container {
    padding: 2vw 0;
}

.project-container img {
    width: 100%;
    height: 40vw;
    border-radius: 30px;
    margin-bottom: 2vw;
    object-fit: cover;

}

.project-container img:hover {
    opacity: 0.7;
    transform: scale(1.025);
    transition: 0.3s ease-in-out;
}

.project-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.project-desc p {
    margin-bottom: 1.2vw;
}


/* contact-details */
.work-tgt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw auto 7vw;
}

.work-tgt img {
    width: 10vw;
}

.contact {
    padding-top: 2vw;
    display: flex;
    gap: 2vw;
}

.contact a {
    color: var(--purple);
    text-decoration: none;
    background-color: transparent;
    padding: 1vw 2vw;
    border-radius: 60px;
    border: 3px solid var(--purple);
}

.contact a:hover {
    color: white;
    background-color: var(--purple);
    transition: 0.3s ease-in-out;
    border: 3px solid var(--purple);
    text-decoration: none !important;
}

  
/* ================
    ABOUT PAGE
=================== */
.breif {
    padding: 10vw var(--horizontal) 5vw;
    text-align: center;
}
.breif svg {
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    transition: all 250ms;
    animation: fadein 1s ease-out normal backwards;
}

.breif .shape1 {
    left: 13%; 
    top: 25%;
    animation-delay: 0;
}

.breif .shape2 {
    left: 29%; 
    top: 22%;
    animation-delay: 100ms; 
}

.breif .shape3 {
    left: 35%; 
    top: 40%; 
    animation-delay: 200ms;
}

.breif .shape4 {
    left: 48%; 
    top: 24%;
    animation-delay: 300ms; 
}

.breif .shape5 {
    right: 26%; 
    top: 30%;
    animation-delay: 400ms;
}

.breif .shape6 {
    right:10%; 
    top:20%;
    animation-delay: 500ms;
}

@keyframes fadein {
    0% { transform: scale(0); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

h2.breif-txt {
    position: relative;
}

.about {
    display: flex;
    padding: 5vw var(--horizontal);
    align-items: center;
}

.about-left, .about-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-left {
    align-items: center;
}

.about-left img {
    position: relative;
    width: 65%;
    border-radius: 30px;
}

.social {
    margin-top: 0.5vw;
    display: flex;
    gap: 1vw;
    
}

.social a {
    border-bottom: 3px solid transparent;
}

.social a:hover {
    border-bottom: 3px solid var(--purple);
    transition: 0.3s ease-in-out;
}

.skills {
    padding: 7vw var(--horizontal) 5vw;
    display: flex;
}

.skills-left, .skills-right {
    width: 50%;
}

.skills-1, .skills-2, .skills-3 {
    padding: 2vw;
    border-radius: 20px;
    margin: 2vw;
}

.skills-1 {
    background-color: var(--blue);
}

.skills-2 {
    background-color: var(--red);
}

.skills-3 {
    background-color: var(--purple);
}

.skills-desc {
    margin-top: 1.5vw;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1vw;
}

.skill {
    display: flex;
    align-items: center;
    gap: 1.25vw;
}

@media screen and (max-width: 600px) {

    h2 {
        font-size: 6.42vw;
    }

    h3 {
        font-size: 5.55vw;
    }

    h4 {
        font-size: 4.05vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.52px;
    }

    p {
        font-size: 3.15vw;
    }

    .topnav {
        padding: 0 4.5vw;
        margin-top: 5vw;
    }

    .topnav-right img {
        width: 16.5vw;
    }

    .header {
        flex-direction: column;
    }

    .header-left, .header-right {
        width: 100%;
    }

    .gif {
        width: 42vw;
        height: 42vw;
    }
    

    .header-left {
        margin-right: 0;
        height: 60vw;
    }

    .text span {
        font-size: 5vw;
        transform-origin: 0 30.5vw;
    }

    .header-right h2 {
        text-align: center;
        margin-top: 6vw;
    }

    .header-right svg {
        height: 5.25vw;
    }

    .intro-top, .intro-bottom {
        display: flex;
        flex-direction: column;
    }

    .intro-1, .intro-2, .intro-4 {
        width: 100%;
        border-radius: 20px;
        padding: 6.5vw 7.5vw;
        margin: 3vw 0;
    }

    .intro-3 {
        display: none;
    }

    .projects-wrapper {
        padding: 15.5vw var(--horizontal) 0;
    }

    .project-container {
        padding: 5vw 0;
    }

    .work-tgt img {
        width: 30vw;
    }

    .contact {
        padding-top: 5vw;
        gap: 5vw;
    }

    .contact a {
        padding: 2vw 5vw;
        border: 1px solid var(--purple);
    }

    .skills {
        padding: var(--horizontal);
        display: flex;
        flex-direction: column;
    }

}