:root {
    --horizontal: 10vw;
    --red: #F4A299;
    --orange: #FBC687;
    --yellow: #f9e19a;
    --green: #BED8AB;
    --blue: #C4DCFA;
    --turquoise: #A8E6E2;
    --purple: #d0bbee;
    --black: #0B3F51;
    --bg: #F8F7F5;
}

/* General */
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box; 
    scroll-behavior: smooth;    
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: ivypresto-display, serif;
    /* font-family: laca, sans-serif; */
    font-style: normal;
    /* font-weight: 400; */
    /* font-family: "Montserrat", sans-serif; */
    color: var(--black);
}

h1 {
    /* Desktop/H1 */
    font-size: 5.208vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 110% */
    letter-spacing: -0.156vw;
}

h2 {
    /* Desktop/H2 */
    font-size: 3.542vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2; /* 114.706% */
    letter-spacing: -0.106vw;
}

h3 {
    /* Desktop/H3 */
    font-size: 2.588vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.078vw;
}

h4 {
    /* Desktop/H4 */
    font-size: 1.354vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3; /* 130.769% */
    letter-spacing: -0.52px;
}

h5 {
    /* Desktop/H5 */
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.042vw;
    text-transform: uppercase;
    margin-bottom: 5px;
}

p {
    /* Desktop/P */
    font-family: laca, sans-serif !important;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 200;
    line-height: 1.25; /* 155.556% */
    letter-spacing: -0.028vw;
}

a {
    /* padding: 0.5vw; */
    font-family: laca, sans-serif !important;
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--purple);
    text-decoration: underline !important;
    text-underline-position: under !important;
}

/* Button */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-family: laca, sans-serif;
    font-style: normal;
    /* font-weight: 100; */
    /* font-family: "montserrat", sans-serif; */
    font-size: inherit;
  }

  button.learn-more {
    width: 12rem;
    height: auto;
  }

  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--purple);
    border-radius: 1.625rem;
  }

  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--white);
  }

  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }

  button.learn-more .button-text a {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    font-weight: 500;
    color: var(--purple) !important;
    line-height: 1.6;
    text-align: center;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: white;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text a {
    color: white !important;
    text-decoration: none !important;
  }

.element-fade-up {
    transform: translateY(40px);
    opacity: 0;
    transition: 0.8s;
}
.element-fade-up.triggered {
    transform: translateY(0px);
    opacity: 1;
}

/* Navigation */
/* Default styles for the topnav */


.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    margin-top: 1vw;
}

.topnav-right img {
    width: 5.5vw;
}

.topnav-left {
    display: flex;
    gap: 2.5vw;
}

.topnav-left a {
    text-decoration: none;
    font-size: 1.275vw;
}

button.dropbtn {
    font-size: 1.275vw !important;
    color: var(--black) !important;
    padding-bottom: 1vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid lightgrey;
    border-radius: 20px;
    min-width: 15vw;
    z-index: 1;
}

.dropdown-content a {
    color: var(--black);
    padding: 1vw 1.5vw;
    text-decoration: none;
    display: block;
    font-size: 1vw !important;
    font-weight: 500;
}

.dropdown-content a:hover {
    color: var(--purple);
    text-decoration: none !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn:hover {
    color: var(--purple) !important;
    text-decoration: underline !important;
    text-underline-position: under !important;
}

/* ================
    MAIN PAGE
=================== */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5vw var(--horizontal);
}

.header-left, .header-right {
    width: 50%;
}

.header-left{
    margin-right: 3vw;
    position: relative;
    height: 35vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: url("/assets/animation.gif");
  background-size: cover;
  background-position: center;
}

.text {
	position: absolute;
	width: 100%;
	height: 100%;
	color: var(--purple);
	font-size: 1vw;
	animation: textRotation 15s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 3vw;
    transform-origin: 0 17.5vw;
}

.header-right svg {
    width: auto;
    height: 2.25vw;
}

.header-right h2 {
    font-size: 3.25vw;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    padding: 4vw var(--horizontal);
}

.intro-top, .intro-bottom {
    display: flex;
    flex-direction: row;
}

.emoji {
    font-size: 3.5vw;
}

.intro-1, .intro-2, .intro-3, .intro-4 {
    border-radius: 20px;
    padding: 3.5vw;
    margin: 1vw 2vw;
}

.intro-1 {
    width: 50%;
    background-color: var(--green);
}

.intro-2 {
    width: 50%;
    background-color: var(--yellow);
}

.intro-3 {
    padding-top: 0;
    padding-bottom: 0;
    width: 40%;
    height: auto;
    background-image: url("/assets/shapes/6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}   

.intro-4 {
    width: 60%;
    background-color: var(--red);
}

p.intro-desc {
    margin-top: 12px;
}

/* featured work section */
.horizontal-scroll {
    display: block;
    max-width: 100%;
    position: absolute;
    opacity: 1;
    transform: translateX(-50%);
}

.scroll-text {
    display: flex;
    gap: 17px;
    white-space: nowrap;
}

.scroll-text h2 {
    font-style: italic;
}

.featured {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.projects-wrapper {
    padding: 8.5vw var(--horizontal) 0;
}

.project-container {
    padding: 2vw 0;
}

.project-container img {
    width: 100%;
    height: 40vw;
    border-radius: 30px;
    margin-bottom: 2vw;
    object-fit: cover;

}

.project-container img:hover {
    opacity: 0.7;
    transform: scale(1.025);
    transition: 0.3s ease-in-out;
}

.project-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.project-desc p {
    margin-bottom: 1.2vw;
}


/* contact-details */
.work-tgt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw auto 7vw;
}

.work-tgt img {
    width: 10vw;
}

.contact {
    padding-top: 2vw;
    display: flex;
    gap: 2vw;
}

.contact a {
    font-family: laca, sans-serif !important;
    font-size: 0.75vw;
    color: var(--purple);
    text-decoration: none;
    background-color: transparent;
    padding: 1vw 2vw;
    border-radius: 60px;
    border: 3px solid var(--purple);
}

.contact a:hover {
    color: white;
    background-color: var(--purple);
    transition: 0.3s ease-in-out;
    border: 3px solid var(--purple);
    text-decoration: none !important;
}

.view-more {
    margin: 5vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vw;
}

.top-btn {
    display: flex;
    gap: 5vw;
}

  
/* ================
    ABOUT PAGE
=================== */
.breif {
    padding: 10vw var(--horizontal) 5vw;
    text-align: center;
}
.breif svg {
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    transition: all 250ms;
    animation: fadein 1s ease-out normal backwards;
}

.breif .shape1 {
    left: 5%; 
    top: 10%;
    animation-delay: 0;
}

.breif .shape2 {
    left: 25%; 
    top: 22%;
    animation-delay: 100ms; 
}

.breif .shape3 {
    left: 35%; 
    top: 10%; 
    animation-delay: 200ms;
}

.breif .shape4 {
    left: 45%; 
    top: 8%;
    animation-delay: 300ms; 
}

.breif .shape5 {
    right: 26%; 
    top: 20%;
    animation-delay: 400ms;
}

.breif .shape6 {
    right:10%; 
    top:10%;
    animation-delay: 500ms;
}

@keyframes fadein {
    0% { transform: scale(0); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

h2.breif-txt {
    position: relative;
}

.about {
    display: flex;
    padding: 5vw var(--horizontal);
    align-items: center;
}

.about-left, .about-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-left {
    align-items: center;
}

.about-left img {
    position: relative;
    width: 65%;
    border-radius: 30px;
}

.social {
    margin-top: 0.5vw;
    display: flex;
    gap: 1vw;
    
}

.social a {
    border-bottom: 3px solid transparent;
}

.social a:hover {
    border-bottom: 3px solid var(--purple);
    transition: 0.3s ease-in-out;
}

.skills {
    padding: 7vw var(--horizontal) 5vw;
    display: flex;
    overflow: hidden;
}

.skills .horizontal-scroll {
    top: 0;
}

.skills-left, .skills-right {
    width: 50%;
}

.skills-1, .skills-2, .skills-3 {
    padding: 2vw;
    border-radius: 20px;
    margin: 2vw;
}

.skills-1 {
    background-color: var(--blue);
    opacity: 0.9;
}

.skills-2 {
    background-color: var(--red);
    opacity: 0.9;
}

.skills-3 {
    background-color: var(--purple);
    opacity: 0.9;
}

.song-charts {
    padding: 0 2vw;
}

.song-charts iframe {
    margin: 0.5vw 0;
}

.skills-desc {
    margin-top: 1.5vw;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1vw;
}

.skill {
    display: flex;
    align-items: center;
    gap: 1.25vw;
}

/* ================
    PROJECT PAGE
=================== */

.project-header.clarissa {
    background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(208,187,238,0.5) 25%, rgba(208,187,238,0.8) 50%, rgba(208,187,238,0.5) 75%, rgba(255,255,255,1) 100%);
    position: relative;
    padding: 5vw var(--horizontal);
    z-index: -1;
}

.project-logo {
    margin-bottom: 3vw;
    text-align: center;
}

.project-logo img {
    height: 4vw;
    
}

.project-mock {
    text-align: center;
}

img.main-mock {
    height: 30vw;
}

img.left-mock {
    width: 25vw;
    position: absolute;
    left: 10%;
    bottom: 14%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

img.right-mock {
    bottom: 15%;
    width: 20vw;
    position: absolute;
    right: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.project-overview h5, .project-section4 h5 {
    color: #9a69e0;
}

.project-overview, .project-section, .section-title, .project-section2, .project-section3, .project-section4, .project-section5, .explore-more  {
    padding: 3vw 15vw;
}

.overview-top {
    display: flex;
    padding-bottom: 2vw;
    gap: 5vw;
}

.overview-left {
    width: 45%;
}

.overview-right {
    flex: 1;
}

.overview-bottom {
    display: flex;
    gap: 4vw;
}

.project-section {
    background-color: var(--purple);
}

.project-section h5 {
    color: white;
    margin-right: 3vw;
    width: 100px;
}

.project-explain {
    display: flex;
    gap: 5vw;
    padding: 1.5vw 0;
}

.solution img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 0.75vw;
}

.section-title {
    background-color: mediumpurple;
    text-align: center;
}

.section-title h4 {
    color: #E3E3E3;
    font-weight: 600;
}

.section-title h2 {
    color: white;
}

.project-section3 {
    background-color: var(--purple);
}

.project-audit {
    margin: 2vw auto;
    padding: 2vw;
    background-color: #ded0f2;
    border: 2px solid darkgrey;
    border-radius: 20px;
}

.image img {
    width: 100%;
    border-radius: 20px;
}

.img-caption {
    margin: 0.75vw auto;
    text-align: center;
}

.img-caption i {
    color: grey;
    font-weight: 500;
}

.audit-explanation h4 {
    color: mediumpurple;
    font-weight: 600;
}

.audit-explanation ul li {
    margin: 10px 0 15px 25px;
}

.project-section4 ul li {
    margin: 0 0 15px 20px;
}

.wireframes {
    margin: 6vw 0;
}

.wireframe-container {
    display: flex;
    gap: 2vw;
    margin: 2vw 0;
}

.wireframe-container .desc {
    width: 25%;
}
.wireframe-container .img {
    flex: 1;
    display: flex;
}

.wireframe-container .img img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.img.aboutpage img {
    width: 46%;
    margin-left: 1.35vw;
}

.final-left, .final-right {
    display: flex;
    gap: 2vw;
    margin: 2vw 0;
}

.final-txt {
    width: 25%;
}

.wireframe-container .desc h4 , .final-txt h4 {
    margin-bottom: 1vw;
}

.final-img {
    flex:1;
}

.final-img img {
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 20px;
}

.explore-more-wrapper {
    display: flex;
    gap: 3vw;
}

.explore-more-container {
    width: 50%;
}

.explore-more-container img {
    width: 100%;
    margin: 1vw 0;
    border-radius: 20px;
}


/* twf */

.project-header.twf {
    background: linear-gradient(0deg, rgba(240,240,235,1) 10%, rgba(215,35,44, 0.4) 43%, rgba(255,255,255,1) 100%);
    position: relative;
    padding: 5vw var(--horizontal);
}

.twf .project-mock img.main-mock {
    height: 20vw;
}

.project-overview.twf {
    background: #F0F0EB;
}

.project-overview.twf h5 {
    color: #D7232C;
}

.project-section.twf {
    background: #70ACFB;
}

.section-title.twf {
    background-color: #B5131B;
    text-align: center;
}

/* coursework page */
.cw-header {
    padding: 8vw var(--horizontal) 25vw;
    position: relative;
}

/* ================
    FOOTER
=================== */

.footer-bottom {
    padding: 0 2vw 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav, .footer-socials {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.footer-tm {
    text-align: right;
}
.footer p, .footer a {
    font-family: laca, sans-serif !important;
    font-size: 0.75vw !important;
    font-weight: 500 !important;
}
@media screen and (max-width: 600px) {

    :root{
        --horizontal: 3vw;
    }

    h2 {
        font-size: 6.42vw;
    }

    h3 {
        font-size: 5.55vw;
    }

    h4 {
        font-size: 4.05vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.52px;
    }

    h5 {
        font-size: 2.781vw;
        margin-bottom: 1.956vw;
    }

    p {
        font-size: 3.15vw;
    }

    button.learn-more {
        width: 10rem;
    }

    button.learn-more .circle {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    button.learn-more .circle .icon.arrow::before {
        top: -2px;
        right: 50%;
        width: 8px;
        height: 8px;
    }

    button.learn-more .button-text a {
        padding: 0.25rem 0;
        margin: 0 0 0 1.85rem;
        font-size: 4vw;
    }

    .topnav {
        padding: 0 4.5vw;
        margin-top: 5vw;
    }

    .topnav-right img {
        width: 16.5vw;
    }

    .header {
        flex-direction: column;
    }

    .header-left, .header-right {
        width: 100%;
    }

    .gif {
        width: 42vw;
        height: 42vw;
    }
    

    .header-left {
        margin-right: 0;
        height: 60vw;
    }

    .text span {
        font-size: 5vw;
        transform-origin: 0 30.5vw;
    }

    .header-right h2 {
        text-align: center;
        margin-top: 6vw;
        font-size: 6.25vw;
    }

    .header-right svg {
        height: 5.25vw;
    }

    .intro-top, .intro-bottom {
        display: flex;
        flex-direction: column;
    }

    .emoji {
        font-size: 11.5vw;
    }

    .intro-1, .intro-2, .intro-4 {
        width: 100%;
        border-radius: 20px;
        padding: 6.5vw 7.5vw;
        margin: 3vw 0;
    }

    .intro-3 {
        display: none;
    }

    .projects-wrapper {
        padding: 15.5vw var(--horizontal) 0;
    }

    .project-container {
        padding: 5vw 0;
    }

    .work-tgt img {
        width: 30vw;
    }

    .contact {
        padding-top: 5vw;
        gap: 5vw;
    }

    .contact a {
        padding: 2vw 5vw;
        border: 1px solid var(--purple);
    }

    .breif .shape1 {
        left: -5%;
        top: 12%;
        height: 23vw;
    }

    .breif .shape2 {
        left: 32%;
        top: 11%;
        height: 12vw;
    }

    .breif .shape3 {
        left: 42%;
        top: 18%;
        height: 21vw;   
    }

    .breif .shape4 {
        left: 50%;
        top: 9%;
        height: 23vw;
    }

    .breif .shape5 {
        right: 49%;
        top: 22.5%;
        height: 17vw;
    }

    .breif .shape6 {
        right: -8%;
        top: 20%;
        height: 28vw;
        animation-delay: 500ms;
    }

    .skills {
        padding: var(--horizontal);
        display: flex;
        flex-direction: column;
    }

    /* footer  */
    .footer p, .footer a {
        font-size: max(10px,.91vw) !important;
        line-height: 1.45;
    }
    
    .footer {
        flex-direction: column;
        row-gap: 10px;
    }

    .footer-contact {
        width: 100%;
        padding-bottom: 5vw;
        border-bottom: 1px solid var(--black);
    }

    .about {
        flex-direction: column;
    }

    .about-right h2 {
        margin-bottom: 5vw;
    }

    .about-left img {
        width: 100%;
        height: 55vw;
        object-fit: cover;
        margin-bottom: 5vw;
    }

    .skills-left, .skills-right {
        width: 100%;
    }

    .skills-1, .skills-2, .skills-3 {
        padding: 6vw;
        margin: 8vw 0vw;
    }


    .skills-3 {
        margin-top: 0;
    }

    /* ================
    PROJECT PAGE
    =================== */
    .project-header.clarissa {
        padding: 5vw var(--horizontal) 15vw;
    }

    .project-logo img {
        height: 15vw;
    }

    .project-logo {
        margin-bottom: 10vw;
    }

    img.main-mock {
        height: 50vw;
    }

    img.left-mock {
        width: 40vw;
        left: 5%;
        bottom: 15%;
    }

    img.right-mock {
        width: 35vw;
        bottom: 15%;
        right: 3%;
    }

    .project-overview, .project-section, .project-section2, .project-section3, .project-section4, .project-section5, .explore-more {
        padding: 5vw 10vw;
    }

    .section-title {
        padding: 8vw 15vw;
    }

    .section-title h4 {
        margin-bottom: 1.956vw;
    }

    .overview-top {
        gap: 3vw;
        padding-bottom: 5vw;
        flex-direction: column;
    }

    .overview-left {
        width: 100%;
    }

    .project-explain {
        padding: 3.5vw 0;
    }

    .solution img {
        height: 40%;
    }

    .audit-explanation ul li {
        margin: 5px 0 5px 15px;
    }

    .project-section4 ul li {
        margin: 0 0 5px 15px;
    }

    .project-audit {
        margin: 5vw auto;
        padding: 5vw;
    }

    .wireframe-container {
        display: flex;
        flex-direction: column;
        gap: 6vw;
        margin: 10vw 0;
    }

    .wireframe-container .img {
        justify-content: center;
    }

    .wireframe-container .img img {
        height: 50vw;
        object-fit: contain;
    }

    .wireframe-container .desc {
        width: 100%;
    }

    .final-left, .final-right {
        gap: 5vw;
        margin: 10vw 0;
    }

    .final-left{
        flex-direction: column-reverse;
    }

    .final-right {
        flex-direction: column;
    }

    .final-txt {
        width: 100%;
    }

    .explore-more-wrapper {
        gap: 5vw;
        flex-direction: column;
    }

    .explore-more-container {
        width: 100%;
    }

    /* footer */
    .footer {
        flex-direction: column;
        padding: 0 5vw;
        align-items: flex-start;
    }

    .footer-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}