<link rel="stylesheet" type="text/css" href="/styles/photo.css">

<div class="photo-album">
    
    <div class="large polaroid img1"><img src="/assets/gallery/flowers.jpg" alt="">enjoying flowers~ (especially tulips)</div>
    <div class="polaroid img2"><img src="/assets/gallery/running.JPG" alt="">morning exercise/ runnning session <3 </div>
    <div class="small polaroid img3"><img src="/assets/gallery/rainbow.JPG" alt="">taking pics of rainbows</div>
    <div class="medium polaroid img4"><img src="/assets/gallery/brunch.jpg" alt="">finding cute brunch spots!</div>
    <div class="polaroid img5"><img src="/assets/gallery/reading.jpeg" alt="">reading *with my ereader*~</div>
    <div class="polaroid img6"><img src="/assets/gallery/baking.JPG" alt="">baking sessions w/ flatmates!</div>
    <div class="polaroid img7"><img src="/assets/gallery/matcha.JPG" alt="">spot good matcha places & making matcha/ coffee</div>
    <div class="small polaroid img8"><img src="/assets/gallery/trumpet.JPG" alt="">being a trumpeter</div>
    <div class="medium polaroid img9"><img src="/assets/gallery/hackathon.JPG" alt="">hackathons!!</div>
    <div class="polaroid img10"><img src="/assets/gallery/restaurant.JPG" alt="">exploring dinner date restaurants w/ my loved ones</div>
    <div class="small polaroid img11"><img src="/assets/gallery/kdrama.JPG" alt="">watching kdrama</div>
    <div class="small polaroid img12"><img src="/assets/gallery/travel.JPG" alt="">travelling around~</div>
    <div class="small polaroid img13"><img src="/assets/gallery/dog.jpg" alt="">missing my cuties</div>
    <div class="small polaroid img14"><img src="/assets/gallery/groceries.jpg" alt="">grocery shopping!</div>
    <div class="polaroid img15"><img src="/assets/gallery/photos.jpg" alt="">taking polaroids & photos</div>

</div>
